<h3>Change book</h3>
<div class="container">
  <div class="row">
    <div class="class col-md-10 col-sm-6">
      <div class="well">
      
        <h4>To change the book you're reading simply search for a new book, then select how many sentences you'd like to recieve.
        <p>
        <br>
          If you'd like to read your own book click the "Upload PDF" link above, upload your file, search for that file, then select how many sentences.
        </p>
        </h4>

      </div>
    </div>
  </div>
</div>