<h3>Change book</h3>
<div class="container">
  <div class="row">
    <div class="class col-md-10 col-sm-6">
      <div class="well">
      
        <h4>
          To change books simply search for a new book, select it, then choose how many sentences you want.
        <p>
        <br>
          If you'd like to read your own book or document click the "Upload PDF" link above.
        </p>
        </h4>

      </div>
    </div>
  </div>
</div>