<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <p class="lead"><strong>Change Books</strong></p>
      
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center wow animated fadeInUp"   data-wow-duration="700ms" data-wow-delay="300ms">
            <p class="lead margin-btm-30">
             To change books simply search for a new book, select it, then choose how many sentences you want. 
            <br>
            <br>
            If you'd like to read your own book or document click the "Upload PDF" link above.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="divided-50"></div>
  <div class="cta">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 margin-btm-30">
          <h3>
            <strong>TextMeABook</strong> a simple way to commit to "War & Peace"
          </h3>
        </div>
        <div class="col-sm-4">
          <a href="/#about" class="btn btn-theme btn-lg">Search</a>
        </div>
      </div>
    </div>
  </div>
</div>         