<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <p class="lead"><strong>How</strong> it works</strong></p>
        </div>
      </div>
    </div>
  </div><!--center heading-->

  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center wow animated fadeInUp"   data-wow-duration="700ms" data-wow-delay="300ms">
      <p class="lead margin-btm-30">
        Search for a classic novel or upload your own PDF.Select what you want to read. Choose the number sentence that you’d like.  And we will text them to you. The first set happens immediately and then everyday you’ll get the next set of sentences until the book is through. 
      </p>
    </div> 
  </div>   
  
  <div class="col-md-12">           
    <div ng-app="app">
      <div class="text-center">
       <div ng-controller="searchCtrl">
        <div class="container" id="search">
            <input ng-model="searchTerm" list="textbooks">
            <button ng-click="search()">Search</button>
            <div class="center-search">
              <div ng-repeat="textbook in textbooks">   
                <a href="/books/{{ textbook.id }}">Title: {{ textbook.title }}</a>
                  <p> Author: {{ textbook.author }} </p>
                  <p> Summary: {{ textbook.summary }} </p>
                   <hr> 
              </div>      
            </div> 
          </div>
        </div>    
      </div>
    </div>  
  </div>
      
  <!-- <div class="divided-50"></div>
    <div class="cta">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 margin-btm-30">
            <h3>
              <strong>TextMeABook</strong> is a simple way to commit to a really big classical novel
            </h3>
          </div>
          <div class="col-sm-4">
            <a href="#" class="btn btn-theme btn-lg"></a>
          </div>
        </div>
      </div>
    </div>
  </div>          -->

                <div class="col-md-12">          
                  <div class="text-center">
                    <br>
                    <p class="lead">Latest <strong>Tweets</strong></p>
                 <br>

                  <a class="twitter-timeline" href="https://twitter.com/textmeabook" data-widget-id="585502600080003076">Tweets by @textmeabook</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                  </div>
                </div>  
