<h3>Text Message</h3>
<div class="container">
  <div class="row">
    <div class="class col-md-10 col-sm-6">
      <div class="well">
        
        <%= form_tag("/", action: "create", method: "post") do %>      
          <%= label_tag :text %> 
          <%= text_area_tag :body %>   
          <%= submit_tag "Submit Text" %>  
        <%end%>

      </div>
    </div>
  </div>
</div>




  