<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <p class="lead"><strong>Ent</strong>er your <strong>mo</strong>bile number</stong></p>
        
          <%= form_tag '/phone', :method => :post do %>
            <%= telephone_field_tag :phone %>
            <%= submit_tag "Submit" %>
          <% end %>
          <br>
          <a href="/users/edit">User Settings</a>

        </div>
      </div>
    </div>
  </div>

  <div class="divided-50"></div>
    <div class="cta">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 margin-btm-30">
            <h3>
              <strong>TextMeABook</strong> a simple way to commit to "Paradise Lost"
            </h3>
          </div>
          <div class="col-sm-4">
            <a href="/#about" class="btn btn-theme btn-lg">Search</a>
          </div>
        </div>
      </div>
    </div>
  </div>