<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <p class="lead">Enter your mobile number</p>
        
          <%= form_tag '/phone', :method => :post do %>
            <%= telephone_field_tag :phone %>
            <%= submit_tag "Submit" %>
          <% end %>

        </div>
      </div>
    </div>
  </div>